body {
    margin: 0 auto;
}
a:link {
    text-decoration: none;
    color: #1c1c1c;
  }
  
  a:visited {
    text-decoration: none;
    color: #1c1c1c;
  }
  
  a:hover {
    text-decoration: none;
    color: #1c1c1c;
  }
  
  a:active {
    text-decoration: none;
    color: #1c1c1c;
  }

h5 {
    color: #1c1c1c;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 28px;
}
.f20 {
    font-size: 20px;
    font-weight: 700;
    color: #1c1c1c;
}
  
nav .logo{
    width: 70px;
    height: 70px;
    object-fit: cover;
}

header nav .counter {
    color: white;
    background-color: #7fad39;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    font-weight: bold;
}
header nav .fa-bag-shopping {
    font-size: 35px;
}
header .container-counter {
    position: absolute;
    top: -1px;
    right: 0;
}
main .panoramic {
    background-image: url("/panoramic.PNG");
}
main .panoramic .panoramic-text {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
main .panoramic .panoramic-text .panoramic-header {
    font-size: 40px;
}
main .panoramic .panoramic-text .panoramic-detailes-text {
    font-size: 20px;
}

main .image-product {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

main .product-q {
    align-self: center;
    width: 100px;
    height: 40px;
    text-align: center;
    background: #f5f5f5;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
main .counter-input {
    font-size: 20px;
    color: #6f6f6f;
    border: none;
    background: #f5f5f5;
    text-align: center;
    width: 50px;
    height: 40px;
}


main .trash-btn{
    justify-content: center;
    display: flex;
    align-items: center;
    cursor: pointer;
}
main .cart-btn {
    color: #000000;
    padding: 14px 30px 12px;
    background: #f5f5f5;
}
main .form-code {
    width: 255px;
    height: 46px;
    border: 1px solid #cccccc;
    font-size: 16px;
    color: #b2b2b2;
    text-align: center;
    display: inline-block;
    margin-right: 15px;
}
main .form-btn {
    padding: 15px 30px 11px;
    font-size: 12px;
    letter-spacing: 4px;
    background: #6f6f6f;
    color: #ffffff;
    font-weight: 800;
    text-transform: uppercase;
    display: inline-block;
    border: none;
}
main .form-btn:hover {
    color: #1c1c1c;
}
main .primary-btn {
    display: inline-block;
    font-size: 14px;
    padding: 10px 28px 10px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    background: #7fad39;
    letter-spacing: 2px;
    text-align: center;
    width: 100%;
}
main .total-cart {
    background: #f5f5f5;
    padding: 30px;
    padding-top: 20px;
   
}
main .total-money {
    font-size: 18px;
    color: #dd2222;
    float: right;
}
main .subtotal-money {
    font-size: 18px;
    color: #dd2222;
    float: right;
}
main .discount {
    font-size: 14px;
}

.fa-trash-can:hover {
    color: #dd2222;
}

main .hr-subtotal {
    margin: 5px 0px;
}

@media (max-width: 575.98px) { 
    .image-name-fruit {
        flex-direction: column;
    }
    }

@media (max-width: 767.98px) { 
    .code-form {
         margin: 10px 0px 10px 0px;
    }
    
    
}
@media (max-width: 1199.98px) {
    .form-btn {
        margin-top: 10px;
    }
    .buttons {
        flex-direction: column;
        text-align: center;
    }
    
}